<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jaaga.learnnplay"
    android:versionCode="2"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        <activity
            android:name="com.jaaga.learnnplay.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jaaga.learnnplay.Al1"
            android:label="@string/title_activity_alphabets_word">
        </activity>
        <activity
            android:name="com.jaaga.learnnplay.AlphabetsLevels"
            android:label="@string/title_activity_alphabets_levels">
        </activity>
        <activity
            android:name="com.jaaga.learnnplay.NumberLevels"
            android:label="@string/title_activity_number_levels">
        </activity>
        <activity
            android:name="com.jaaga.learnnplay.NL1"
            android:label="@string/title_activity_numbers">
        </activity>
        <activity
            android:name="com.jaaga.learnnplay.Al2"
            android:label="@string/title_activity_al2">
        </activity>
        <activity
            android:name="com.jaaga.learnnplay.SettingsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.jaaga.learnnplay.PaintMe"
            android:label="@string/title_activity_paint_me"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>
